body {
    margin: 0;

    display: flex;
    flex-direction: column;
}

html,
body {
    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    height: 100%;
}

header {
    flex-basis: 40px;

    border: 1px solid grey;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5px;
}

header input {
    width: 15ch;
    border: 0;
}

#logout-button {
    background-color: #e1ecf4;
    border-radius: 3px;
    border: 1px solid #7aa7c7;
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #39739d;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    padding: 8px .8em;
}

#name {}

#session-title {}

main {
    flex-grow: 1;

    border: 1px solid black;

    display: flex;
}

.main-block {
    flex-basis: 100%;
    border: 2px solid grey;
    border-radius: 10px;
    margin: 5px;
    box-shadow: 0px 0px 4px rgb(209, 130, 130);
}

#new-session-button {
    width: 80%;
    margin: 5px 10%;
    background-color: #e1ecf4;
    border-radius: 3px;
    border: 1px solid #7aa7c7;
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #39739d;
    cursor: pointer;
    display: inline-block;
    line-height: 1.15385;
    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
}

.session {
    width: 80%;
    margin: 10px auto;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 0px 0px 3px grey;

    padding: 10px;
    box-sizing: border-box;
}

.session-content {

    margin: auto;
}

.session-header {
    display: flex;

    justify-content: space-between;
}



footer {
    flex-basis: 40px;

    border: 1px solid grey;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;

}

footer button {
    padding: 10px;
    margin: 10px 0px 10px 10px;

    background-color: #e1ecf4;
    border-radius: 3px;
    border: 1px solid #7aa7c7;
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #39739d;
    cursor: pointer;
    display: inline-block;
    line-height: 1.15385;
    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;

}

#session-link-div {
    margin: 10px 10px 10 0;
    padding: 5px 20px;
    width: 80%;
    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;

}

#link-field {
    margin: 5px 0px;
    width: 100%;
    display: block;
    border-radius: 7px;
    box-shadow: 2px 2px 10px grey;
    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
}

#link-label {
    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
}



.my_scroll_div {
    overflow-y: auto;
    height: calc(100vh - 135px);
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 5px solid transparent;
    background-clip: content-box;
    background-color: #c46d2f;
}

.feedback-item {
    width: 80%;
    margin: 5px auto;
    border: 2px solid indigo;
    border-radius: 7px;
    padding: 7px;
    box-shadow: 0px 0px 2px yellow;
}

.feedback-item-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.feedback-content {
    width: 100%;
    word-wrap: break-word;
}

@media (max-width: 600px) {
    #detailed-feedback-div {
        display: none;
    }

    #session-list {
        flex-basis: 40%;
    }
}

@media (max-width: 300px) {
    #detailed-feedback-div {
        display: none;
    }

    #session-list {
        display: none;
    }
}