body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

html,
body {
    height: 100%;
}

button {
    border: 0;
    box-shadow: 1px 1px 3px #252524;
    display: inline-block;
    cursor: pointer;
    padding: 5px;
    margin: 3px;
    color: #252524;
    background-color: transparent;
    text-transform: uppercase;
    box-sizing: border-box;
    transition-duration: 0.2s;
}

button:hover {
    text-shadow: 0 0px 0.5px grey;
    box-shadow: 1px 1px 5px #252524;
}

nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #22a075;
    line-height: 48px;
    letter-spacing: 0;
    font-family: DM Mono, serif;
    font-size: 17px;
    font-weight: 500;
    color: #252524;
}

header input[type=text] {
    width: 10ch;
    min-width: 10ch;
    padding: 0;
    border: 0;
    background-color: transparent;
    margin: 5px;
    outline: none;
}

header input[type=text]::placeholder {
    border: 0;
    color: #004434;
    font-style: italic;
    background-color: transparent;
}

header input:focus {
    border: 1px;
    border-radius: 0;
    border-width: 0;

}

main {
    height: 100%;
    flex-grow: 1;
    display: flex;
    background-color: #f6f7ff;
    justify-content: center;
}

#confirm-form {
    background-color: #f6f7ff;
    display: none;
    flex-direction: column;
    width: 300px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 10px grey;
    border-radius: 4px;
    text-align: center;
    justify-content: center;
}

.confirm-button {
    box-shadow: 1px 1px 10px grey;
    width: 40%;
    border: 0;
    margin-bottom: 10px;
}

.confirm-button:hover {
    opacity: 0.8;
    text-shadow: 0px 0px 1px grey;
}

.confirm-button:first-of-type {
    background-color: #ff6666;
}

.confirm-button:nth-of-type(2) {
    background-color: #99ff99;
}

.confirm-message {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding: 10px;
}

footer {
    background-color: #22a075;
}

#link-field {
    display: block;
    border-width: 0;
    width: 100vw;
    background-color: transparent;
    margin: auto;
    padding: 2px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
}

#label-link-div {
    display: block;
    align-items: center;
    text-align: center;
}

#link-label {
    display: inline-block;
    text-align: center;
    flex-grow: 1;
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
}

.my_scroll_div {
    overflow-y: auto;
    height: calc(100vh - 135px);
}

#feedback-list {
    min-height: 100%;
    flex-grow: 1;
    display: block;
    padding: 5px;
    width: 80%;
    max-width: 550px;
    align-items: center;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
}

@media (max-width: 550px) {
    #feedback-list {
        width: 100%;
    }
}

@media (min-width: 800px) {
    header {
        justify-content: center;
    }
}

.feedback-item {
    margin: 5px;
    border-radius: 2px;
    padding: 5px 5px 5px 0;
    box-sizing: border-box;
    box-shadow: 2px 1px 5px grey;
    transition: all .25s ease-in-out;
    display: flex;
}

.feedback-item:hover {
    box-shadow: 2px 1px 5px black;
}

.feedback-text {
    text-align: justify;
    height: 100%;
    flex-grow: 1;
    word-break: break-all;
}

.feedback-time {
    flex-basis: 12em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#feedback-list::-webkit-scrollbar {
    width: 5px;

    background-color: transparent;
    width: 16px;
}

#feedback-list::-webkit-scrollbar-track {
    margin: 5px 0;
    background-color: transparent;
}

#feedback-list::-webkit-scrollbar-thumb {
    border-radius: 2px;
    border: 0;
    background-clip: content-box;
    background-color: transparent;
    text-shadow: 0px 0px 5px black;

    background-color: #babac0;
    border-radius: 16px;
    border: 4px solid transparent;
}

#feedback-list::-webkit-scrollbar-button {
    display: none;
}