body {
    margin: 0;

    display: flex;
    flex-direction: column;

 
}

html, body {
    height: 100%;
}

header{
    flex-basis: 40px;

    border: 1px solid black;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px 50px;

}

header button {
    height: fit-content;   
    margin-left: 100px;
}

#name{
    margin-right: 100px;
}

main {
    flex-basis: 80%;

    border: 1px solid black;

    display: flex;
}

#feedback-list, #session-list, #detailed-feedback-div {
    flex-basis: 100%;
    border: 1px solid black;
    height: 100%;
    
}



main div button{
    width: 80%;
    margin: 2% 10%;
}

.session {
    width: 80%;
    margin: 5px auto;
    border: 3px solid grey;
    border-radius: 5px;

    padding: 10px;
}



footer{
    flex-basis: 40px;

    border: 1px solid black;    

    display: flex;
    align-items: center;
    justify-content: space-between;

}

footer button {
    margin-left: 20px;
    height: fit-content;
}

footer div {
    margin-right: 10px;
}

footer input {
    width: 30em;
}

.session-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.my_scroll_div{
    overflow-y: auto;
    max-height: 600px;
}

.feedback-item {
    width: 80%;
    margin: 5px auto;
    border: 3px solid grey;
    border-radius: 5px;
    padding: 10px;
}

.feedback-item-header {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.feedback-content {
    width: 100%;
    word-wrap: break-word;
}