body {
    margin: 0;
    display: flex;
}

html,
body {
    height: 100%;
}

#header-div {
    flex-basis: 40px;

    border: 1px solid black;

    display: flex;
    justify-content: space-between;

    padding: 5px 10px;
}

#feedbackText {
    resize: vertical;
    width: 90%;
    margin: 10px auto;

    height: 120px;

    display: block;

    word-wrap: break-word;

    padding: 5px 10px 5px 10px;
    border: 1px solid blue;
    border-radius: 8px;
}

#submit-button {
    width: 100%;

    border: 2px solid #7fff00;
    box-shadow: 0px 0px 5px yellowgreen;
    border-radius: 10px;

    font-size: 20px;

    background-color: aquamarine;

    cursor: pointer;

    position: relative;
    bottom: 0;
}

main {
    width: 300px;
    height: 400px;

    padding: 10px;
    border: 1px solid red;
    border-radius: 10px;
    margin: auto;

}